/**
 *
 * src/assets/css/footer.css
 *
 */

.footer-content {
  position: fixed; /* Fixes the footer to the bottom of the viewport */
  bottom: 0; /* Ensures it's at the bottom */
  width: 100%; /* Full width */
  z-index: 1000;
}
